- if user_signed_in?
    %p#intro
        Hello
        = current_user.name
        %br/
        %span
            Share your recipies and help others find more
- else
    %h1#intro
        Thinking about what to eat?
        %br/
        %span
            Find new recipies with extremely good ingredients
#searchBar
    %span
        %input#searchInput{ :type => "text", :placeholder => "Type ingredients to find corresponding recipies" }
        #searchButton
            = button_to "Search", posts_path, method: :get, params: { search_field: "" }


#posts
    - @posts.each do |post|
        .post
            .post_image
                = link_to (image_tag post.image.url(:small)), post
            .post_content
                .title
                    %h2= link_to post.title, post
                .data.clearfix
                    %p.username
                        Shared by
                        = post.user.name
                    %p.buttons
                        %span
                            %i.fa.fa-comments-o
                            = post.comments.count
                        %span
                            %i.fa.fa-thumbs-o-up
                            = post.get_likes.size

:javascript
    $("#searchInput").on("change", function() {
        $("input[name='search_field']").val($("#searchInput").val());
    }).keypress(function(e) {
        if(e.which == 13) {
            jQuery(this).blur();
            jQuery("input[value=Search]").focus().click();
        }
    });	
